GITHUB_ORG=your-github-org-or-user
GITHUB_AUTH_TOKEN=your-github-token
ARTIFACTORY_USER=your-artifactory-user
ARTIFACTORY_PASSWORD=your-artifactory-password-or-token
SAP_ARTIFACTORY_URL=common.repositories.cloud.sap
AUTHOR_NAME=Your Name
AUTHOR_EMAIL=your.name@example.com
